@font-face {
    font-family: "Open Sans";
    src: url(../font/2211.ttf);
   }
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px 30px;
}

img {
  padding-bottom: 45px;
}

/*Navig*/
.header .top-menu {
  display: inline-block;
  padding-right: 624px;

}

nav {
  display: block;
  background-color: #535353;
}

nav a {
	text-decoration: none;
}

nav li {
	list-style-position: inside;
  font-family: "Open Sans";
}

.top-menu li {
	display: inline-block;
	padding: 12px 60px;

}
.top-menu .active {
	background: #444444;
  padding: 12px 30px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.top-menu a {
	color: #ffffff;
}

/*Menu*/
.menu {
    display: block;
    padding-top: 40px;
    float: left;
    width: 240px;
}

.menu li {
  font-weight: 300;
	list-style-type: none;
  border: 1px solid #c8c8c8;
  padding: 20px 20px;
  font-family: "Open Sans";
}

.menu a {
  text-decoration: none;
  color: #656363;
}

.menu .actived {
  background-color: #f9f9f9;
}

.menu .actived-text {
  color: black;
  margin-left: 20px;
}

/*IMG*/
.picture img {
  margin-top: 40px;
  margin-left: 370px;
}

/*Content*/
.content {
  width: 600px;
  padding-left: 650px;
}

/*Footer*/
.buttom-menu {
  display: inline-block;
  margin-top: 80px;
  background-color: #e1e1e1;
}

.buttom-menu a {
	text-decoration: none;
}

.buttom-menu li {
	list-style-position: inside;
  font-family: "Open Sans";
}

.buttom-menu li {
	display: inline-block;
	padding: 12px 30px;
	margin: 0;
}

.buttom-menu li .activ {
text-decoration: underline;
}

.buttom-menu a {
	color: #2c2c2c
}
