* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url("../img/bg.png");
}

@media (min-width: 320px)  {
    header {
        background-image: url("../img/bg2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header .topSitebar {
        width: 100%;
        height: 45px;
        background-color: #db3534;
        box-shadow: 1px 1px 16px #263811;
    }

    header .topSitebar img {
        float: left;
        margin-top: 9px;
        margin-left: 2%;
    }

    .menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 2%;
        width: 205px;
        background-color: rgba(13 , 18 , 7 , 0.9);
    }

    .menu:after {
        content: '';
        position: absolute;
        left: 6%;
        bottom: 254px;
        border: 8px solid transparent;
        border-bottom: 19px solid rgba(13 , 18 , 7 , 0.9);
    }

    .menu li {
        list-style: none;
        padding-left: 25px;
        line-height: 33px;
    }

    .menu li:first-of-type {
        padding-top: 25px;
    }

    .menu li:last-of-type {
        padding-bottom: 25px;
    }

    .menu a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: "HelveticaNeueCyr-Light";
        font-size: 14px;
        color: #ffffff;
    }

    .item:focus ~ .menu,
    .item:active ~ .menu,
    .menu:hover {
        display: block;
    }

    .basketSmall {
        float: left;
        width: 160px;
        margin-left: 53%;
        margin-top: -30px;
    }

    .basketSmall img {
        float: left;
        margin-top: 6px;
        padding-right: 5px;

    }

    .basketSmall p {
        font-family: "HelveticaNeueCyr-Light";
        font-size: 12px;
        color: #ffffff;
        margin-top: 6px;
    }


    header .topSitebar a:hover {
        color: #ffffff;
    }
    header .topSitebar .ru {
        width: 30px;
        float: left;
        margin-top: 6px;
        padding: 6px;
        text-decoration: none;
        font-family: "HelveticaNeueCyr-Light";
        font-size: 18px;
        color: #ff3f3e;
        text-align: center;
        background-color: #8d2120;
        margin-right: 10px;
        box-shadow: inset 0px 0px 6px rgba(0,0,0,0.9);
        border-bottom: 1px solid #ff5553;
        border-right: 1px solid #ff5553;
        border-left: 1px solid #ff5553;
    }

    header .topSitebar .ua {
        width: 30px;
        float: left;
        margin-top: 6px;
        padding: 6px;
        text-decoration: none;
        font-family: "HelveticaNeueCyr-Light";
        font-size: 18px;
        color: #ff3f3e;
        text-align: center;
        background-color: #8d2120;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
        border-bottom: 1px solid #ff5553;
        border-right: 1px solid #ff5553;
        border-left: 1px solid #ff5553;
    }

    header .topSitebar a:hover {
        color: #FFffff;
    }

    header .topSitebar .search {
        position: relative;
        float: right;
        margin-right: 2%;
        margin-top: 7px;
    }

    header .topSitebar .search input{
        padding: 7px 50px 7px 7px;
        background-color: #992524;
        border: none;
        border-bottom: 1px solid #ff5553;
        border-right: 1px solid #ff5553;
        border-left: 1px solid #ff5553;
        font-family: "HelveticaNeueCyr-Light";
        font-size: 14px;
        color: #ff3f3e;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    }

    header .topSitebar .search input::-webkit-input-placeholder {
        color: #ff3f3e;
    }

    header .topSitebar .search img{
        position: absolute;
        top: -4px;
        left: 175px;
    }

    header .left {
        width: 210px;
        margin: 0 auto;
    }

    header .left p{
        font-family: "HelveticaNeue";
        font-size: 15.3px;
        color: #FFffff;
    }

    header .left a{
        font-family: "HelveticaNeue";
        font-size: 11.1px;
        color: #FFffff;
    }

    header .left nav {
        margin-top: 10px;
    }

    header .left nav li{
        list-style: none;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }

    header .left nav a{

    }

    header .left nav  .tv{
        width: 32px;
        height: 32px;
        background: url(../img/solush.png) 0 0 no-repeat;
    }

    header .left nav  .vk{
        width: 32px;
        height: 32px;
        background: url(../img/solush.png) -41px 0 no-repeat;
    }

    header .left nav  .face{
        width: 32px;
        height: 32px;
        background: url(../img/solush.png) -85px 0 no-repeat;
    }

    header .left nav  .rss{
        width: 32px;
        height: 32px;
        background: url(../img/solush.png) -127px 0 no-repeat;
    }

    header .left nav  .google{
        width: 32px;
        height: 32px;
        background: url(../img/solush.png) -170px 0 no-repeat;
    }

    header .baskerBig {
        clear: left;
        width: 205px;
        height: 65px;
        background-image: linear-gradient(to top, #c62e2d, #dd3635);
        border-top: 1px solid #ff4544;
        box-shadow: 0px 2px 8px black;
        border-radius: 2px;
        margin-top: 45px;
    }
    header .baskerBig img {
        float: left;
        width: 45px;
        margin-top: 11px;
        margin-left: 15px;
        margin-right: 35px;

    }

    header .baskerBig h3 {
        font-family: "HelveticaNeueCyr-Bold";
        font-size: 20px;
        color: #FFffff;
        margin-top: 5px;
    }

    header .baskerBig p {
        font-family: "HelveticaNeueCyr-Light";
        font-size: 12px;
        color: #FFffff;
    }

    header .baskerBig p span {
        font-family: "HelveticaNeueCyr-Medium";
        font-size: 12px;
        color: #FFffff;
    }

    header  .center {
        margin-top: 35px;
        text-align: center;
    }

    header .right {
        display: none;
        float: right;
        margin-top: 35px;
        margin-right: 2%;
        text-align: center;
        width: 210px;
    }

    header .right p {
        font-family: "HelveticaNeueCyr-Light";
        font-size: 18px;
        color: #FFffff;
    }

    header .right span{
        font-family: "HelveticaNeueCyr-Medium";
        font-size: 23px;
        color: #FFffff;
    }

    header .right div  {
        background-image: linear-gradient(to top, #c62e2d, #dd3635);
        border-top: 1px solid #ff4544;
        box-shadow: 2px 7px 5px #3d5a1b;
        border-radius: 2px;
        margin-top: 5px;
    }

    header .right div p {
        font-family: "HelveticaNeueCyr-Bold";
        font-size: 36.6px;
        color: #FFffff;
    }

    header .right div span{
        font-size: 26.2px;
    }

    header .containerDoors {
        clear: left;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header .containerDoors .door {
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
    }

    header .containerDoors .door img {
        width: 100%;
        height: 260px;
    }

    header .containerDoors .door h3 {
        text-transform: uppercase;
        text-align: center;
        font-family: "BebasNeue-Bold";
        font-size: 63.1px;
        color: #608b30;
    }

    header .containerDoors .door p{
        text-transform: uppercase;
        text-align: center;
        font-family: "BebasNeue-Bold";
        font-size: 21px;
        color: #608b30;
    }

    main .slider {
        margin: 50px auto;
    }
    main h2 {
        text-transform: uppercase;
        text-align: center;
        font-family: "BebasNeue-Bold";
        font-size: 48px;
        color: #608b30;
    }

    main .leftSitebar {
       text-align: center;
    }

    main .leftSitebar li {
        list-style: none;
        line-height: 30px;
    }

    main .leftSitebar a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "HelveticaNeue";
        font-size: 15px;
        color: #006600;
    }

    main .leftSitebar a:hover {
        color: #cc0000;
    }

    main  .contentBlock {
        background-image: url("../img/bgtext.png");
        background-size: cover;
        border-right: 5px solid #FFffff;
        border-radius: 1px;
        box-shadow: 1px 1px 15px #d1cece;
        padding-top: 43px;
        padding-left: 30px;
        padding-right: 5px;
    }

    main  .contentBlock p {
        text-indent: 20px;
        font-family: "HelveticaNeueCyr-Light";
        font-size: 18px;
        color: #333333;
        line-height: 23px;
        padding-bottom: 18px;
    }
    main  .contentBlock p.last {
        padding-bottom: 60px;
    }

    main .rightSitebar {
       margin: 5px auto;
        width: 176px;
    }


    main .rightSitebar .call p {
        font-family: "HelveticaNeueCyr-Light";
        font-size: 15.3px;
        color: #333333;
    }

    main .rightSitebar .call span {
        font-family: "HelveticaNeueCyr-Medium";
        font-size: 19.5px;
        color: #333333;
    }

    main .rightSitebar .call div{
        background-image: linear-gradient(to top, #c62e2d, #dd3635);
        border-top: 1px solid #ff4544;
        text-align: center;
        border-radius: 2px;
        margin-top: 5px;
        box-shadow: 0px 3px 10px #aba9aa;
    }

    main .rightSitebar .call div p {
        font-family: "HelveticaNeueCyr-Bold";
        font-size: 31px;
        color: #FFffff;
    }

    main .rightSitebar .call div span {
        font-size: 22.3px;
        color: #FFffff;
    }

    main .rightSitebar .banner {
        margin-top: 60px;
        margin-bottom: 60px;
        background-image: url("../img/bgbanner.png");
        height: 125px;
        box-shadow: 0px 3px 10px #aba9aa;
    }

    main .rightSitebar .banner p {
        padding-top: 15px;
        text-align: center;
        font-family: "BebasNeue-Bold";
        font-size: 42px;
        color: #FFffff;
    }

    footer {
        background-image: url("../img/bg4.png");
        margin-top: 750px;
        height: 320px;
    }

    footer p{
        font-family: "HelveticaNeue";
        font-size: 18px;
        color: rgba(255,102,102,.8);
        padding-top: 236px;
        margin-left: 2%;
    }

    footer nav {
        display: none;
        float: right;
        margin-right: 2%;
        margin-top: -22px;
    }

    footer li{
        list-style: none;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    footer a{
        text-decoration: none;
        font-family: "HelveticaNeue";
        font-size: 18px;
        color: #ffffff;
    }
}

@media (min-width: 761px)  {

    .basketSmall {
        float: left;
        width: 160px;
        margin-left: 53%;
        margin-top: 0;
    }

    header .topSitebar .search input{
        padding: 7px 100px 7px 7px;
    }

    header .topSitebar .search img{

        left: 220px;
    }
    header .left {
        width: 210px;
        float: left;
        margin-top: 35px;
        margin-left: 2%;
    }

    header .right {
        display: block;
    }

    header .containerDoors {
        flex-direction: row;
    }

    main .leftSitebar {
        width: 15%;
        float: left;
        margin-left: 2%;
    }

    main  .contentBlock {
        float: left;
        margin-left: 2%;
        width: 55%;
        padding-right: 30px;
    }

    main .rightSitebar {
        float: right;
        margin-right: 2%;
        width: 176px;
    }

    footer nav {
       display: block;
    }

}