* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url("../img/bg.png");
}


@media (min-width: 761px)  {

    .basketSmall {
        float: left;
        width: 160px;
        margin-left: 53%;
        margin-top: 0;
    }

    header .topSitebar .search input{
        padding: 7px 100px 7px 7px;
    }

    header .topSitebar .search img{

        left: 220px;
    }
    header .left {
        width: 210px;
        float: left;
        margin-top: 35px;
        margin-left: 2%;
    }

    header .right {
        display: block;
    }

    header .containerDoors {
        flex-direction: row;
    }

    main .leftSitebar {
        width: 15%;
        float: left;
        margin-left: 2%;
		text-align: left;
    }

    main  .contentBlock {
        float: left;
        margin-left: 2%;
        width: 55%;
        padding-right: 30px;
    }

    main .rightSitebar {
        float: right;
        margin-right: 2%;
        width: 176px;
    }

    footer nav {
       display: block;

    }

}

