@font-face {
    font-family: 'Open Sans Light'; 
    src: url(../fonts/Open-Sans-Light.ttf); 
   }

@font-face {
    font-family: 'OpenSans'; 
    src: url(../fonts/OpenSans.ttf); 
   }

   @font-face {
    font-family: 'Open-Sans-Semibold'; 
    src: url(../fonts/Open-Sans-Semibold.ttf); 
   }


   