@media only screen and (min-width: 768px) and (max-width: 959px) {
  .substrate--header {
    padding-bottom: 158px;
  }

  .substrate--news {
    display: block;
    padding-bottom: 85px;
  }

  .header__logo {
    float: left;
    margin-left: 20px;
  }

  .header__menu {
    margin: 130px 0 0 20px;
  }

  .nav-menu__list--horizontal {
    display: block;
  }

  .nav-menu__item--horizontal {
    margin-right: 15px;
  }

  .nav-menu__link--horizontal {
    font-size: 20px;
    padding-bottom: 2px;
  }
  .nav-menu__link--horizontal:hover {
    border-bottom: 2px solid #edbfff;
  }

  .nav-menu:hover .nav-menu__list--vertical {
    display: none;
  }

  .nav-menu__drop {
    display: none;
  }

  .slider {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 400px;
    max-height: 400px;
    margin-top: 84px;
  }

  .slider__control--next {
    top: 170px;
  }

  .slider__control--prev {
    top: 170px;
  }

  .slider__bullets {
    position: absolute;
    top: 100%;
    right: 17%;
    margin-top: 162px;
  }

  .slide__heading {
    font-size: 48px;
    line-height: 48px;
    text-align: left;
    margin-left: 5.20833%;
    padding-top: 82px;
  }

  .slide__aditional {
    text-align: left;
    margin-left: 40px;
    min-width: 400px;
  }

  .slide__description {
    display: block;
    max-width: 310px;
    margin-top: 12px;
    margin-left: 40px;
    text-align: left;
    line-height: 27px;
    max-height: 108px;
    overflow: hidden;
  }

  .slide__image {
    display: block;
    margin-top: -300px;
    float: right;
  margin-right: 4%;
  }

  .slide__ico--play {
    display: inline-block;
    top: 130px;
    right: 15.36458%;
  }

  .bullets__item {
    margin-left: 4px;
  }

  .about {
    display: flex;
    justify-content: space-between;
  }

  .about__section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__article {
    margin-left: 0px;
    margin-right: 0px;
  }

  .about-company__title {
    font-size: 24px;
  }

  .about-company__text {
    max-height: 144px;
    max-width: 90%;
  }

  .pingbuller-updates__slider {
    max-width: 335px;
  }

  .pingbuller-updates {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
  }

  .slide-content__body {
    min-width: 43.61979%;
    padding: 25px 25px 30px 30px;
  }

  .slide-content__text {
    max-height: 144px;
  }

  .pingbuller__bullets {
    margin-top: 23px;
  }

  .recent-updates {
    margin-top: 35px;
    padding-bottom: 50px;
    border-bottom: none;
  }

  .recent-updates__item {
    margin-left: 5.20833%;
  }

  .recent-updates__article {
    margin-top: 15px;
  }

  .recent-updates__title {
    max-width: 71.875%;
  }

  .pingbuller-news__copyright {
    margin-top: 100px;
  }

  .pingbuller-news__comments {
    margin-top: 80px;
  }

  .pingbuller-news__news-categories {
    margin-top: 80px;
  }

  .pingbuller-news {
    display: flex;
  }

  .copyright__copy {
    margin-top: 5px;
  }

  .copyright__text {
    max-height: 168px;
    margin-top: 5px;
  }

  .recent-news__text {
    max-height: 168px;
    margin-top: 5px;
  }

  .footer__menu {
    display: block;
  }

  .footer .nav-menu__link--horizontal {
    font-size: 15px;
    margin-right: 10px;
  }

  .designed-by {
    text-align: right;
    margin-right: 20px;
  }










}
