
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/

.jcarousel {
    position: relative;
    overflow: hidden;
      width: 800px;
      margin: auto;

}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarousel-prev,
.jcarousel-next {
    position: absolute;
    top: 110px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-prev {
  top: 1110px;
  left: 21%;
}

.jcarousel-next {
  top: 1110px;
  right: 21%;;
}

.jcarousel-prev:hover span,
.jcarousel-next:hover span {
    display: block;
}

.jcarousel-prev.inactive,
.jcarousel-next.inactive {
    opacity: .5;
    cursor: default;
}

.css input[type=checkbox] {
    position: absolute;

    clip: rect(0, 0, 0, 0);

}

.css label {

    cursor: pointer;

}

.css label:after {

    content: " ";

    display: inline-block;

    width: 15px;

    height: 15px;

    background: url(../img/checkbox.png) -37px -26px;

    position: relative;

    top: 3px;

    margin-left: 15px;

}

.css input[type=checkbox]:checked + label:after {

background-position: -107px -26px;

}

.select {
  margin-top: 500px;
}
