<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/interview.css">
    <title>Пройди опрос</title>
</head>

<body>
    <main>
        <section class="resultContainer">
            <div id="statistics">
                <div id="rootA"></div>
                <script type="text/template" id="statA">
                      <h1> <%- statistic.Ah1 %></h1> 
                      <p><%- statistic.Ap %></p>
                          </script>
                <div id="rootB"></div>
                <script type="text/template" id="statB">
                            <h1> <%- statistic.Bh1 %></h1> 
                            <p><%- statistic.Bp %></p>
                                </script>
            </div>
            <div class="moreText">
                <ul>
                    <li>название1</li>
                    <li>название2</li>
                    <li>название3</li>
                    <li>название4</li>
                    <li>очень очень длинное название5</li>
                </ul>
                <ul>
                    <li>очень очень длинное название6</li>
                    <li>длинное название7</li>
                    <li>длинное название8</li>
                </ul>
            </div>
            <img class="like" src="img/like.png" alt="">
        </section>
        <section class="interviewContainer">
            <form name="signup" id="form2">
                <h2>Lorem ipsum </h2>

                <label class="value one">
                    <input type="radio" id="value1" name="value" />
                    <div class="value-text one" id="one">Вариант A</div>
                </label>
                <label class="value two">
                    <input type="radio" id="value2" name="value" />
                    <div class="value-text two" id="two">Вариант B</div>
                </label>

                <input type="button" id="submit" value="ПРОДОЛЖИТЬ">
            </form>

        </section>


    </main>




    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="js/interview.js"></script>
</body>

</html>