html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Roboto";
  font-size: 15px;
  color: #000;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  max-width: 1220px;
  margin: auto;
  padding: 0 10px;
}
