.our-team {
  margin-top: 95px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &-block {
    max-width: 370px;
    transition: 1s;

    &:hover {

      .our-team-photo {
        background-color: $green;

        &__img {
          top: -10px;
          left: -10px;
        }
      }

      .our-team-hover {
        opacity: 1;
        margin-top: -10px;
        margin-left: -10px;
      }
    }
  }

  &-photo {
    position: relative;
    width: 100%;
    cursor: pointer;
    background: $white;
    transition: background-color 1s;

    &__img {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transition: 1s;
    }
  }

  &-info {
    margin-top: 30px;
    text-align: center;

    &__title {
      @include text-Montserrat(700, 14px, $black);
      text-transform: uppercase;
    }

    &__text {
      margin-top: 15px;
      @include text-Roboto(300, 15px, $gray);
      font-style: italic;
    }
  }

  &-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 99.5%;
    transition: 1s;
    background: linear-gradient(to bottom, rgba(243,129,129,0.5) 40%, rgba(252,227,138,0.5) 60%) no-repeat;
    .our-team-social {
      display: flex;
      margin-left: -1%;
      padding: 0;

      &__elem {
        list-style: none;
        width: 55px;
        height: 55px;
        border-right: 1px solid $red;

        &:last-of-type {
          border-right: none;
        }

      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: $yellow;

        &:hover {
          background-color: $red;

          .our-team-social__icon {
            fill: $white;
          }
        }
      }
      &__icon {
        width: 25px;
        height: 25px;
        fill: $red;

        &_facebook {
          width: 12px;
        }
      }
    }
  }
}
