@font-face {
    font-family: 'Tahoma';
    src: url(../font/Tahoma.ttf);
   }

.fon-one {
  position: relative;
  padding-bottom: 30px;
  top: -16px;
  background: #128aa7;
}
.fon-two {
  position: relative;
  top: -16px;
  padding-bottom: 150px;
  background: #20d1e3;
   border-top: 1px solid #5ef0ff;
  background: linear-gradient(to top, #fafefe, #20d1e3);
}

.fon-tree {
  position: relative;
  top: -16px;
  padding-bottom: 850px;
  background: #0c749f;
  background: linear-gradient(to bottom, #40c5d3, #0c739f);
}

.karkas {
  position: relative;
  width: 1000px;
  height: 990px;
  top: -1064px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: #031d28 -1px 5px 10px;
}

.logo {
  display:inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
}
.logos {
  display: inline-block;
  position: relative;
  top: -55px;
  left: -232px;
  font-family: "Tahoma";
  font-size: 12px;
  color: #128aa7;
}

.contacts {
  display: inline-block;
  width: 145px;
  margin-top: 10px;
  margin-right: 30px;
  float: right;
  font-family: 'Tahoma';
  font-size: 12px;
  line-height: 20px;
  color: #128aa7;
}
.shadow {
  text-shadow: #bfd8e1 1px 1px 1px;
}

.flag  {
display: inline-block;
position: relative;
float: right;
margin-right: 30px;
top: -73px;
}

.india,
.nepal,
.tibet,
.butan,
.sri-lanka,
.maldiv {
  display: inline-block;
  padding: 5px;
  font-family: "Tahoma";
  font-size: 10px;
  text-align: center;
}

a {
  color: #128aa7;
}

.picture {
  display: inline-block;
  position: relative;
  top: -68px;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}
.trian {
  font-size: 7px;
}


.infa-left {
  display:inline-block;
position: absolute;
  width: 220px;
  top: 457px;
  padding-bottom: 352px;
  background-color: #edeef0;
  line-height: 20px;
  font-family: "Tahoma";
  font-size: 14px;
  color: #424c43;
  text-align: center;
}

.infa-left p {
  font-size: 18px;
  text-shadow: #a0a4a2 1px 1px 1px;
}

.infa-right {
  display:inline-block;
  position: absolute;
  width: 220px;
  padding-bottom: 12px;
  top: 457px;
  left: 780px;
  background-color: #edeef0;
  line-height: 20px;
  font-family: "Tahoma";
  font-size: 14px;
  color: #424c43;
  text-align: center;
}

.infa-right p {
  font-size: 18px;
  text-shadow: #a0a4a2 1px 1px 1px;
}
.menu {
  position: relative;
  top: -71px;
  border-bottom: 1px solid #000000;
  box-shadow: #777778 1px 1px 1px;

	}
  .menu ul li {
    padding: 10px;
    padding-right: 36px;
  }

  .menu ul  li:hover {
    background-color: #333333;
  }
  .menu ul ul  li:hover {
    background-color: #333333;
  }
  .menu ul li, .menu ul {
    display: inline-block;
  }
  .menu ul {
    position: relative;
    background-color: #333333;
  }
  .menu ul ul {
    display: none;
    position: absolute;
    background-color: #333333;
    margin-top: 10px;
    margin-left: -20px;
  }
  .menu ul a {
    font-family: "Tahoma";
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
  }

  .menu li:hover ul {
    display: block;
  }

  .menu li:hover li {
    display: block;
  }
  .home {
    padding-left: 65px;
  }
  .contact {
    padding-right: 30px;
  }
  .copyring {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 470px;
    left: 400px;
    font-family: "Tahoma";
    font-size: 12px;
    color: #ffffff;
  }
