@media only screen and (min-width: 960px) {
  .substrate--header {
    padding-bottom: 215px;
  }

  .substrate--about {
        margin-top: -103px;
  }

  .substrate--news {
    display: block;
    padding-bottom: 85px;
  }

  .substrate--footer {
    padding-bottom: 35px;
  }

  .header__logo {
    float: left;
  }

  .header__menu {
    display: inline-block;
    margin-top: 70px;
    margin-left: 110px;
  }

  .nav-menu__list--horizontal {
    display: block;
  }

  .nav-menu__item--horizontal {
    margin-right: 35px;
  }

  .nav-menu__link--horizontal {
    font-size: 22px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav-menu__link--horizontal:hover {
    border-bottom: 2px solid #edbfff;
  }

  .nav-menu:hover .nav-menu__list--vertical {
    display: none;
  }

  .nav-menu__drop {
    display: none;
  }

  .slider {
    background-color: rgba(0, 0, 0, 0.2);
  }



  .slider__control--next {
    top: 170px;
  }

  .slider__control--prev {
    top: 170px;
  }

  .slider__bullets {
    margin-top: 100px;
    position: absolute;
    right: 20%;
  }

  .slide__heading {
    font-size: 60px;
    line-height: 48px;
    margin-left: 10%;
    padding-top: 82px;
    text-align: left;
  }

  .slide__aditional {
    font-size: 32px;
    line-height: 34px;
    margin-left: 8.6%;

  }

  .slide__description {
    display: block;
    max-width: 500px;
    margin-top: 12px;
    margin-left: 10%;
    text-align: left;
    line-height: 27px;
    max-height: 162px;
    overflow: hidden;
  }

  .slide__image {
    display: block;
    margin-top: -380px;
    float: right;
    margin-right: 10%;
  }

  .slide__ico--play {
    display: inline-block;
    top: 130px;
    right: 14.32292%;
  }

  .bullets__item {
    margin-left: 4px;
  }

  .about {
    display: flex;
    justify-content: space-between;
  }

  .about__section {
    padding-left: 10px;
    padding-right: 0;
  }

  .about__article {
    margin-left: 0;
    margin-right: 0;
  }

  .about-company__title {
    font-size: 30px;
  }

  .about-company__text {
    margin-top: 10px;
    max-height: 120px;
    max-width: 85%;
    line-height: 25px;
  }

  .read-more {
    padding-right: 10px;
  }

  .pingbuller-updates__slider {
    max-width: 425px;
  }

  .pingbuller-updates {
    display: flex;
  }

  .slide-content {
    margin-left: 25px;
  }

  .slide-content__body {
    min-width: 43.61979%;
    padding: 25px 25px 30px 30px;
  }
  .slide-content__body:after {
    content: '';
    display: inline;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -20px;
    right: 40px;
    background: url("../img/triangle.png") center center;
  }

  .slide-content__head {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .slide-content__head--color {
    display: inline;
  }

  .slide-content__text {
    max-height: 168px;
  }

  .pingbuller__bullets {
    margin-top: 22px;
  }

  .recent-updates {
    margin-top: 44px;
    padding-bottom: 60px;
    border-bottom: none;
  }

  .recent-updates__article {
    margin-top: 15px;
    min-width: 500px;
  }

  .recent-updates__title {
    max-width: 71.875%;
  }

  .recent-updates__link {
    margin-right: 3.125%;
  }

  .pingbuller-news {
    display: flex;
  }

  .copyright__copy {
    margin-top: 5px;
  }

  .copyright__text {
    max-height: 168px;
    margin-top: 5px;
  }

  .recent-news__text {
    max-height: 168px;
    margin-top: 5px;
  }

  .footer__menu {
    display: block;
    float: left;
  }

  .footer .nav-menu__link--horizontal {
    font-size: 20px;
    margin-right: 20px;
  }

  .designed-by {
    float: right;
    text-align: right;
    margin: 43px 20px 0 0;
  }


}
