<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <title>LAYOUT</title>
</head>

<body>

    <header>
        <div class="sitebar">
            <div class="container">
                <div class="logo">
                    LAYOUT
                </div>
                <nav>
                    <ul>
                        <li>html</li>
                        <li>css</li>
                        <li>javascript</li>
                    </ul>
                </nav>
                <div>
                    <button>Enter</button>
                </div>
            </div>
        </div>


        <div class="slider-wrapper">
            <div id="slider">
                <div class="titleBlock">
                    <h1>Monetize
                        <span>your skills now!
                            <span>
                    </h1>
                    <button>GO!</button>
                </div>
                <ul id="slideWrap">
                    <li>
                        <img src="img/slide.png" alt="">
                    </li>
                    <li>
                        <img src="img/slide.png" alt="">
                    </li>
                    <li>
                        <img src="img/slide.png" alt="">
                    </li>
                    <li>
                        <img src="img/slide.png" alt="">
                    </li>
                    <li>
                        <img src="img/slide.png" alt="">
                    </li>

                </ul>

                <a id="next" href="#">
                    <img src="img/next.png" alt=""> </a>
            </div>
            <div class="control-btns"></div>
        </div>


    </header>

    <main>
        <section class="information">
            <div class="containerText">
                <h2>Something about you</h2>
                <p>In this section, you can specify any information about yourself, insert your photos, your interests and skills.
                    It is also desirable to use tag canvas.
                </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                    vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                    incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="containerImg">
                <figure>
                    <figcaption>Your photo</figcaption>
                    <p>
                        <img src="img/picture.png" alt="picture">
                    </p>

                </figure>
            </div>
        </section>
        <section class="formContainer">
            <form action="">
                <h2>Register</h2>
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Password">


                <select name="select-box" id="selectId" class="select">
                    <option value="item-1" name="value">Country1</option>
                    <option value="item-2" name="value">Country2</option>
                    <option value="item-3" name="value">Country3</option>
                </select>


                <button>ENTER</button>

            </form>
        </section>
    </main>

    <footer>
        <p>&#9400; 2015 layout</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>