@font-face {
  font-family: HelveticaNeue;
  src: url(../font/HelveticaNeue.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/1.png") no-repeat ;
  background-size: cover;
  font-size: 14px;
  font-family: HelveticaNeue;
}

 nav {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: #085494;
  font-size: 0;
}

.right-menu li, .left-menu li {
  display: inline-block;
  list-style: none;
  font-size: 14px;
  color: #fff;
}

.right-menu li {
  padding: 0 17px 0 10px;
}

.right-menu, .left-menu {
  float: right;
  position: relative;
}

.right-menu a, .left-menu a {
  display: inline-block;
  text-decoration: none;
  line-height: 35px;
  color: #fff;
}

.right-menu img {
  float: left;
  width: 23px;
  height: 26px;
  margin-top: 4px;
}

.minhas:hover {
  background-image: linear-gradient(#51b1dc, #2e7ac4);
  outline: 1px solid #4e9ed8;
  height: 34px;
}

.minhas a:hover {
  text-decoration: underline;
}

.minhas > a {
  margin-left: 10px;
}

.left-menu a {
  padding: 0 10px 0 13px;
  color: #60b5ed;
}

.left-menu a:hover {
  background-color: #4eabda;
  color: #fff;
}

.entar:hover {
  background: linear-gradient(#51b1dc, #2e7ac4);
  outline: 1px solid #4e9ed8;
  height: 34px;
}

.entar a:hover {
  text-decoration: underline;
}

.left-menu {
  position: relative;
  margin-right: 18px;
}

.left-menu:after {
  content: "";
  position: absolute;
  height: 31px;
  margin-top: 2px;
  margin-left: 13px;
  border-right: 1px solid #60b5ed;
}

.telo {
width: 100%;
height: 100%;
position: fixed;
top: 35%;
left: 0;
display: flex;
align-items: center;
justify-content: center;
overflow: auto;
}
.container {
  display: block;
  width: 560px;
  height: 612px;
  color: #fff;

}

 h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 62px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.form {
  background-color: rgba(0, 0, 0, 0.4);
}

.form {
  margin-top: 2px;
}

.facebook {
  position: relative;
  margin: 0 auto;
  width: 276px;
}

.facebook > button {
  margin-top: 36px;
  background: linear-gradient(#3e5694, #304274);
  width: 276px;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #334261;
  border-top: 1px solid #7889b7;
  -webkit-border-radius: 8px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  line-height: 35px;
  font-size: 14px;
}

.logo {
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  top: 36px;
  left: 15px;
  padding-right: 14px;
  border-right: 1px solid #1f3a6f;
  box-shadow: 1px 0 0 #4c66a3;
}

.symbol {
  position: absolute;
  right: 26px;
  font-size: 14px;
}

.ou {
  position: relative;
  text-align: center;
  margin-top: 30px;
  padding-left: 45%;
  padding-right: 45%;
  color: #999;
}

.ou:before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 45%;
  height: 0px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #000;
}

.ou:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 45%;
  height: 0px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #000;
}

fieldset {
  padding-top: 12px;
  border: 0;
  width: 258px;
  margin: 0 auto;
}

.inset > input {
  width: 258px;
  height: 34px;
  padding-left: 18px;
  border: 0;
  color: #fff;
  background: linear-gradient(#0e0d0d, #111);
  border-bottom: 1px solid #484948;
}

.inset  {
  width: 276px;
  height: 35px;
  margin-top: 14px;

}

.inset > input:focus {
  background: #1b5288;
  border-bottom: 1px solid #689bcc;
  box-shadow: 0 0 6px 3px rgba(47, 123, 197, .8);
  pointer-events: none;
}


fieldset > input[type="checkbox"] {
  width: 13px;
  height: 13px;
  float: left;
  margin-top: 22px;
}

fieldset > label {
  margin: 20px 0 0 8px;
  float: left;
  color: #ccc;
}

.create {
  margin-top: 23px;
}

.create > button {
  width: 151px;
  height: 35px;
  color: #fff;
  background: linear-gradient(#50aedb, #2e7ac4);
  box-shadow: 0 0 2px #54A1DB;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid #3686ca;
  border-top: 1px solid #67c6e6;
  border-right: 1px solid #4e9ed8;
  border-left: 1px solid #4e9ed8;
  cursor: pointer;
}

.footer {
  font-size: 11px;
  margin-top: 17px;
  padding-bottom: 22px;
  color: #ccc;
}
