* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
}

.header {
  width: 320px;
  margin: 0 auto;
}

.main {
  width: 320px;
  margin: 0 auto;
}
.logo {
  display: block;
  text-align: center;
  margin-top: 50px;
}

/*top-menu*/
.top-menu {
  position: relative;
  text-align: center;
}
.top {
  display: none;
  font-size: 24px;
  padding-right: 10px;
}

.top-menu__list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-family: "LeagueGothicRegular";
  font-size: 24px;
  width: 250px;
  background-color: rgba(54, 41, 62, 0.9);
  border-radius: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border: solid 1px #051116;
  overflow: hidden;
}

.top-menu__home {
  display: inline-block;
  text-align: center;
  font-family: "LeagueGothicRegular";
  font-size: 24px;
  color: #fff;
  line-height: 46px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.qwer{
  display: none;
  position: absolute;
  width: 40px;
  margin-left: 47%;
  margin-top: -9px;
  border-top: 2px solid #edbfff;
}

 .top-menu:hover .top-menu__list{
  display: block;
}

.top-menu__home:before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 38px;
  border-bottom: 2px solid #edbfff;
}

.top-menu__item {
  display: relative;
  list-style: none;
  width: 100%;
}

.top-menu__item:after {
  content: '';
  height: 45px;
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  border-top: 1px solid #5f486a;
}

.top-menu__item:before {
  content: '';
  height: 44px;
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 1px solid #37293f;
}

.top-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  line-height: 45px;
  display: flex;
  justify-content: center;
}

.top-menu__link:hover {
  line-height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-menu__link:hover:before {
  content: '';
  height: 42px;
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 2px solid #edbfff;
  transition: .3s all;
}

.top-menu__link:before {
  content: '';
  height: 42px;
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 2px solid transparent;
}

.top-menu__link-home {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.top-menu__link-home:hover:before {
  content: '';
  bottom: 7px;
  width: 38px;
  margin: auto;
  border-bottom: 2px solid #edbfff;
}

.top-menu__link-home:before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 38px;
  margin: auto;
  border-bottom: 2px solid #edbfff;
}
/*slide*/
.lorem {
  float: left;
  font-family: "LeagueGothicRegular";
  font-style: normal;
  font-size: 36px;
  color: #fff;
}

.slide  {
  width: 270px;
  margin: auto;
  margin-top: 130px;
}

.slide_iphone{
  display: none;
  float: right;
  margin-top: -100px;
}

.slide_iphone1 {
  display: none;
  float: right;
  margin-top: -60px;
}
.left {
  float: left;
  margin-top: 15px;
  padding-right: 10px;
}

.will {
  float: left;
  font-family: "LeagueGothicRegular";
  font-style: normal;
  font-size: 20px;
  color: #edbfff;
  margin-left: -180px;
  margin-top: 40px;
}

.semper {
  display: none;
  width: 280px;
  float: left;
  margin-left: -210px;
  margin-top: 80px;
  font-family: "OpenSans-Light";
  font-style: normal;
  font-size: 16px;
  color: #fff;

}

.right {
  float: right;
  margin-top: 15px;
}
/*navigation*/
.navigation {
  display: inline-block;
  margin-top: 140px;
  margin-left: 32%;
}

.navi li {
  float: left;
  list-style: none;
}

.navi .one {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide.png) 0 0 no-repeat;
}

.navi .one:hover {
  background: url(../img/action.png)  no-repeat;
}

.navi .two {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide.png) -22px 0 no-repeat;
}

.navi .two:hover {
  background: url(../img/action.png)  no-repeat;
}

.navi .three {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide.png) -44px 0 no-repeat;
}

.navi .three:hover {
  background: url(../img/action.png)  no-repeat;
}

.navi .four {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide.png) -66px 0 no-repeat;
}

.navi .four:hover {
  background: url(../img/action.png)  no-repeat;
}
/*about*/
.about {
  width: 320px;
  margin: auto;
  margin-top: 100px;
}

.about__article {
  margin-top: 65px;
}

.about-company {
  position: relative;
}

.about-company:after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.about-company__icon {
  float: left;
  margin-left: 30px;
  margin-top: 2px;
}

.about-company__title {
  display: inline-block;
  float: left;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: "LeagueGothicRegular";
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-shadow: 1.3px 1.3px  #0f1518;
}

.about-company__text {
  font-family: "OpenSans-Light";
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #fff;
  text-shadow: 1px 1px #0f1518;
  clear: both;
  padding-left: 62px;
  padding-right: 40px;
  height: 72px;
  margin-left: 10px;
  overflow: hidden;
}

.about-company__link {
  position: absolute;
  right: 20px;
}

.about-company__link:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.read-more {
  font-family: "LeagueGothicRegular";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

/*pingbuller-updates*/

.pingbuller-updates {
  display: block;
  width: 320px;
  margin: auto;
  margin-top: 80px;
}

.pingbuller-updates:after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.starts-here {
  position: relative;
}

.starts-here__photo {
  position: absolute;
  left: 20px;
  top: 85px;
}

.starts-here__head {
  position: relative;
  font-family: "LeagueGothicRegular", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #454545;
  height: 48px;
  text-align: left;
  padding-top: 95px;
  padding-left: 100px;
}

.starts-here__head--color {
  color: #edbfff;
}

.starts-here__text {
  position: relative;
  font-family: "OpenSans-Light";
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  width: 190px;
  height: 168px;
  overflow: hidden;
  text-align: left;
  margin-top: 5px;
  margin-left: 100px;
}

.starts-here:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 45px;
  top: 69px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: 260px;
  min-height: 270px;
}



 /*navigation-two*/
.navigation-two {
  display: inline-block;
  margin-top: 50px;
  margin-left: 40%;
}

.navi .one-two {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide1.png) 0 0 no-repeat;
}

.navi .one-two:hover {
  background: url(../img/action1.png)  no-repeat;
}

.navi .two-two {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide1.png) -22px 0 no-repeat;
}

.navi .two-two:hover {
  background: url(../img/action1.png)  no-repeat;
}

.navi .three-two {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide1.png) -44px 0 no-repeat;
}

.navi .three-two:hover {
  background: url(../img/action1.png)  no-repeat;
}

.navi .four-two {
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/slide1.png) -66px 0 no-repeat;
}

.navi .four-two:hover {
  background: url(../img/action1.png)  no-repeat;
}
/*recent-updates*/

.recent-updates__item {
  margin-top: 50px;
  margin-left: 10%;
}

.recent-updates__head {
  font-family: "LeagueGothicRegular";
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #454545;
}

.recent-updates__article {
  margin-top: 18px;
}

.recent-updates__ico {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;

}

.recent-updates__ico--nunc {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../img/cryg.png") -60px 0 no-repeat;
}

.recent-updates__ico--turpis {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../img/cryg.png") -120px 0 no-repeat;

}

.recent-updates__ico--neque {
  display: block;
  height: 50px;
  width: 50px;
  background: url("../img/cryg.png") -175px 0 no-repeat;

}

.recent-updates__title {
  font-family: "OpenSans-Extrabold", sans-serif;
  font-size: 16px;
  line-height: 34px;
  color: #454545;
  height: 24px;
  width: 210px;
  overflow: hidden;
}

.recent-updates__text {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 16px;
  line-height: 34px;
  color: #454545;
  height: 24px;
  width: 220px;
  overflow: hidden;
}

.recent-updates__link {
  font-size: 18px;
  line-height: 34px;
  color: #454545;
  margin-top: 25px;
  margin-left: 40%;
}

.recent-updates__link:hover {
  text-shadow: 0 0 8px rgba(216, 182, 182, 0.8);
  color: #5b5757;
}

/*BRENDS-LOGO*/
.brands-logo {
  width: 320px;
  border-top: 1px solid #fefefe;
  padding-top: 70px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-flow: row wrap;
  list-style: none;
}

.brands-logo__list {
  margin-bottom: 45px;
}

.brands-logo__link {
  text-decoration: none;
}

.brands-logo__ico {
  display: block;
  background-image: url("../img/marka.png");
  height: 65px;
  margin: 0 25px 0;
}

.brands-logo__ico-1 {
  width: 70px;
  background-position: -20px 0;
}

.brands-logo__ico-2 {
  width: 70px;
  background-position: -145px 0;
}

.brands-logo__ico-3 {
  width: 68px;
  background-position: -25px -125px;
}

.brands-logo__ico-4 {
  width: 53px;
  background-position: -155px -125px;
}

.brands-logo__ico-5 {
  width: 105px;
  background-position: 0 -220px;
}

.brands-logo__ico-6 {
  width: 81px;
  background-position: -156px -229px;
}

.copyright__logo {
  font-family: "LeagueGothicRegular";
  font-size: 48px;
  color: #454545;
}
/*pingbuller-news*/
.pingbuller-news {
  display: none;
}

.pingbuller-news__copyright-one__one{
margin: auto;
padding-bottom: 50px;
}

.pingbuller-news__copyright-one__two{
margin: auto;
padding-bottom: 50px;
}

.copyright__logo-er{
  color: #b9b9b9;
}

.copyright__copy {
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color: #c5c5c5;
}

.pingbuller-news__copyright-one  {
  display: inline-block;
  width: 285px;
  margin: auto;
}



.copyright__text {
  font-family: "OpenSans-Light";
  font-size: 16px;
  color: #787878;
}

.recent-news__title {
  font-family: "LeagueGothicRegular";
  font-size: 30px;
  color: #454545;
}

.copyright__text-news {
  font-family: "OpenSans-Light";
  font-size: 16px;
  font-weight: normal;
  color: #787878;
  margin-top: 15px;
}


/*footer__menu*/
.footer__menu {
  display: none;
}

.nav__menu {
  margin-left: 30px;
}

.nav-menu__item {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-menu__link {
  text-decoration: none;
  font-family: "LeagueGothicRegular";
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #5d5d63;
}
.footer {
  text-align: center;
}




.designed {
  display: inline-block;
  width: 175px;
  margin-top: 120px;
  padding-bottom: 20px;
  margin-left: 25%;
  font-family: "OpenSans-Light";
  text-align: center;
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.designed-by__bold {
  font-family: "OpenSans-Extrabold";
}
