

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(60deg, #00b9e9, #acdcf8);
    height: 100vh;

}

@media screen and (min-device-width: 320px){

.iconsOne{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) 0 0 no-repeat;
    left: 90%;
    top: 20%;
}

.iconsTwo{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) -60px 0 no-repeat;
    left: 40%;
    top: 1%;
}

.iconsThree{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) -120px 0 no-repeat;
    left: 1%;
    top: 42%;
}

.iconsFour{
    position: absolute;
    width: 60px;
    height: 50px;
    background: url(../img/icons.png) -185px 0 no-repeat;
    left: 3%;
    bottom: 0.5%;
}

.iconsFive{
    position: absolute;
    width: 60px;
    height: 50px;
    background: url(../img/icons.png) -255px 0 no-repeat;
    right: 2%;
    bottom: 30%;
}

.iconsSix{
    position: absolute;
    width: 40px;
    height: 50px;
    background: url(../img/icons.png) -320px 0 no-repeat;
    left: 0%;
    top: 70%;
}

.iconsSeven{
    position: absolute;
    width: 40px;
    height: 50px;
    background: url(../img/icons.png) 0px -80px no-repeat;
    left: 15%;
    top: 2%;
}

.iconsEight{
    position: absolute;
    width: 50px;
    height: 40px;
    background: url(../img/icons.png) -50px -80px no-repeat;
    right: 5%;
    bottom: 0%;
}

.iconsNine{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) -100px -73px no-repeat;
    right: 4%;
    top: 44%;
}

.iconsTen{
    position: absolute;
    width: 55px;
    height: 50px;
    background: url(../img/icons.png) -165px -70px no-repeat;
    left: 72%;
    top: 6%;
}

.iconsEleven{
    position: absolute;
    width: 60px;
    height: 50px;
    background: url(../img/icons.png) -238px -65px no-repeat;
    left: 0%;
    top: 17%;
}

.iconsTwelve{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) -290px -65px no-repeat;
    right: 0%;
    top: 0%;
}


.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #ffed01, #fbcc3f);
    border-image-slice: 1;
}

.header a {
    padding: 70px  130px 70px 130px;
    background-color: #f7f8f8;
}

.inventarium {
    font-family: "SFUIDisplay-Regular";
    font-size: 54px;
    color: #2ea7e0;
    text-decoration: none;
}

.main {
    margin-top: 60px;
}

.text {
    width: 800px;
    font-family: "SFUIDisplay-Light";
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}

.footer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.contacts {
    list-style: none;
    padding-bottom: 40px;
}

.contacts li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

    .contacts img {
        width: 80px;

    }

}