@font-face {
    font-family: 'PT-Sans-Regular'; 
    src: url(../fonts/PT-Sans-Regular.ttf); 
   }

   @font-face {
    font-family: 'Roboto-Condensed'; 
    src: url(../fonts/Roboto-Condensed.ttf); 
   }

   @font-face {
    font-family: 'Roboto-Medium'; 
    src: url(../fonts/Roboto-Medium.ttf); 
   }

   @font-face {
    font-family: 'PT-Sans-Narrow'; 
    src: url(../fonts/PT-Sans-Narrow.ttf); 
   }

   @font-face {
    font-family: 'OpenSans'; 
    src: url(../fonts/OpenSans.ttf); 
   }