@font-face {
    font-family: 'Tahoma';
    src: url(../font/TahomaRegular.ttf);
   }
body {
  background: linear-gradient(to bottom, #128aa7, #128aa7 30px, #40c5d3 30px, #5ef0ff 30px, #5ef0ff 31px, #20d1e3 31px, #fafefe 182px, #40c5d3 182px, #0c739f);
}

.karkas {
  position: relative;
  width: 1000px;
  height: 990px;
  top: -16px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: #031d28 -1px 5px 10px;
}

.logo {
  display:inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
}

.logos {
  display: inline-block;
  position: relative;
  top: -55px;
  left: -232px;
  font-family: "Tahoma";
  font-size: 12px;
  color: #128aa7;
}

.contacts {
  display: inline-block;
  width: 145px;
  margin-top: 10px;
  margin-right: 30px;
  float: right;
  font-family: 'Tahoma';
  font-size: 12px;
  line-height: 20px;
  color: #128aa7;
}

.shadow {
  text-shadow: #bfd8e1 1px 1px 1px;
}

.flag  {
display: inline-block;
position: relative;
top: -15px;
left: 160px;
}

.india,
.nepal,
.tibet,
.butan,
.sri-lanka,
.maldiv {
  display: inline-block;
  padding: 5px;
  font-family: "Tahoma";
  font-size: 10px;
  text-align: center;
}

a {
  color: #128aa7;
}

.picture {
  display: inline-block;
  position: relative;
  top: -8px;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}

.trian {
  font-size: 7px;
}

.infa-left {
  display:inline-block;
  position: absolute;
  width: 220px;
  top: 460px;
  padding-bottom: 345px;
  background-color: #edeef0;
  line-height: 20px;
  font-family: 'Tahoma';
  font-size: 14px;
  color: #424c43;
  text-align: center;
  border-right: 1px solid #c7cacf;
}

.infa-left .caption {
  font-family: "Tahoma";
  font-size: 18px;
  padding-top: 5px;
  text-shadow: #a0a4a2 1px 1px 1px;
}

.infa-right {
  display:inline-block;
  position: absolute;
  width: 220px;
  padding-bottom: 25px;
  top: 460px;
  left: 779px;
  background-color: #edeef0;
  line-height: 20px;
  font-family: "Tahoma";
  font-size: 14px;
  color: #424c43;
  text-align: center;
  border-left: 1px solid #c7cacf;
}

.infa-right .caption {
  font-family: "Tahoma";
  font-size: 18px;
  padding-top: 5px;
  text-shadow: #a0a4a2 1px 1px 1px;
}
.menu {
  position: relative;
  top: -11px;
  border-bottom: 1px solid #000000;
  box-shadow: #4f4f50 0px 2px 1px;

}
  .menu ul li {
    padding: 10px;
    padding-right: 45px;

}

  .menu ul  li:hover {
    background-color: #333333;

}
  .menu ul ul  li:hover {
    background-color: #333333;

}
  .menu ul li, .menu ul {
    display: inline-block;
}
  .menu ul {
    position: relative;
    background-color: #333333;
}
  .menu ul ul {
    display: none;
    position: absolute;
    background-color: #333333;
    margin-top: 10px;
    margin-left: -10px;
    border-top: 1px solid #000000;
    box-shadow: #4f4f50 2px 3px 2px;
}
  .menu ul a {
    font-family: "Tahoma";
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

  .menu li:hover ul {
    display: block;
}

  .menu li:hover li {
    display: block;
}

  .home {
    padding-left: 65px;
  }

  .contact {
    padding-right: 33.15px;
  }

  .copyring {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 530px;
    left: 400px;
    font-family: "Tahoma";
    font-size: 12px;
    color: #ffffff;
  }
