* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
   
}



nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 11px 0 11px 0;
}

  a {
    padding: 12px 30px 12px 30px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     color: #fff;
     text-transform: uppercase;
text-decoration: none;
}

 a:hover {
    color: gray;
    background-color: gainsboro;
}

header div {
    display: flex;
}


.favorites {
    display: block;
    padding: 11px 10px 11px 10px;
}

.favorites  i {
    padding-right: 10px; 
}

.login {
    display: block;
    padding: 11px 30px 11px 30px;
    background-color: black;
}

.login i {
    padding-right: 10px; 
}


main  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}


.city {
width: 60%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
}

select, input {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
}



.city2  {
    width: 35%;
}

.date  {
    width: 30%;
}

.travel  {
    width: 25%;
}

.seach  {
    width: 35%;
    text-align: center
}

.seach  button{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}

.seach a {
    display: block;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
    margin-top: 5px;
}

.seach a:hover {
   background: none;
}


