@font-face {
    font-family: "Agency";
    src: url(../fonts/Agency.ttf);
}
@font-face {
    font-family: "open-sans-semi";
    src: url(../fonts/open-sans-semi.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway.ttf);
}
@font-face {
    font-family: "OpenSansBold";
    src: url(../fonts/OpenSansBold.ttf);
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans.ttf);
}