@font-face {
	font-family: 'Lucida Sans Unicode';
	src: url('../font/lucida-sans-unicode/LucidaSansUnicode.eot');
	src: url('../font/lucida-sans-unicode/LucidaSansUnicode.eot?#iefix') format('embedded-opentype'),
		url('../font/lucida-sans-unicode/LucidaSansUnicode.woff') format('woff'),
		url('../font/lucida-sans-unicode/LucidaSansUnicode.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
