@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../font/lucida-sans-unicode_allfont.ru-webfont.woff2') format('woff2'),
         url('../font/lucida-sans-unicode_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
