body {
   width: 1000px;
   margin: auto;
   font-family: 'lucida_sans_unicoderegular';
}
/*HEADER*/
header {
  display: flex;
  flex-flow: row;
  margin-top: 22px;
}

header .phone {
  margin-bottom: 11px;
  margin-left: 8px;
}

header div {
  margin-left: 2px;
  font-family: Arial;
  font-size: 18px;
  color: #5e696d;
}

header form {
  height: 28px;
  margin-left: 20px;
  background: linear-gradient(to top, #0e375b, #1f6787);
  border-radius: 5px;
  box-shadow: 2px 2px 2px #b4b4b4;

}

header .inset {
  font-size: 11px;
  width: 115px;
}

header .inset input::-webkit-input-placeholder {
  font-family: 'lucida_sans_unicoderegular';
}

header a {
  font-family: 'lucida_sans_unicoderegular';
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}

.login:after {
  content: "";
  margin-left: 2px;
  border-right: 1px solid #fff;

}

header .pasword {
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
  font-family: 'lucida_sans_unicoderegular';
  font-size: 12px;
  color: #bfbfbf;
  text-decoration: underline;
}

aside {
  height: 20px;
  margin-top: 3px;
  margin-left: 18px;
  border: 1px solid #c1c8cb;
  border-radius: 25px;
  box-shadow: 0px 1px 0px #d3d8db;
}

aside img {
  margin-left: 8px;
}

aside .masage {
  margin-right: 8px;
}
/*NAV*/
nav {
  display: flex;
  flex-flow: row;
}

nav ul {
  display:inline-block;;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 910px;
  height: 30px;
  border-top: 4px solid #505860;
  border-radius: 5px;
  background: linear-gradient(to top, #020202, #2a2e32);
}

nav li {
  display: inline-block;
  margin-top: 6px;
}

nav a {
  text-decoration: none;
  font-family: 'lucida_sans_unicoderegular';
  font-size: 13.6px;
  color: #b1bcc0;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

nav .compani {
  margin-left: 125px;
}

nav a:hover {
  background: linear-gradient(to top, #0d3458, #1f6787);
border-radius: 20px;
}

nav ul {
  font-family: Arial;
  font-size: 12px;
  color: #fff;
}

nav ul img {
  margin-right: 5px;
  margin-left: 20px;
}

nav span {
  font-family: Arial;
  font-size: 12px;
  color: #0d5a8f;
}
