* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Ubuntu";
  font-size: 16px;
  color: #939598;
}

.contactBlock {
  margin-top: 50px;
  text-align: center;
}

.contactBlock .contactBlock__contactUs {
  margin-top: 35px;
  font-size: 14px;
  color: #a5a5a5;
  font-weight: bold;
  text-transform: uppercase;
}

.contactBlock .contactBlock__sayHello {
  margin-top: 15px;
  font-family: "UbuntuLight";
  font-size: 60px;
  color: #4c4c4c;
}

.contactBlock .contactBlock__sayHello .contactBlock__sayHello_color {
  color: #1abc9c;
}

.forma {
  width: 96%;
  max-width: 1100px;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  flex-basis: 50%;
}

.form .form__name {
  width: 43%;
  float: left;
  margin-right: 3%;
  padding: 20px 0 20px 15px;
  outline: none;
  border: 1px solid #cccccc;
}

.form .form__email {
  width: 43%;
  margin-left: 3%;
  padding: 20px 0 20px 15px;
  outline: none;
  border: 1px solid #cccccc;
}

.form .form__subject {
  width: 95.5%;
  margin-top: 15px;
  padding: 20px 0 20px 15px;
  outline: none;
  border: 1px solid #cccccc;
}

.form .form__message {
  width: 95.9%;
  resize: none;
  margin-top: 30px;
  padding: 20px 0 20px 15px;
  outline: none;
  border: 1px solid #cccccc;
}

.form .form__submit {
  margin-top: 70px;
  padding: 20px 40px 20px 40px;
  background-color: #1abc9c;
  color: #fff;
  outline: none;
  border: none;
}

.forma .forma__text {
  flex-basis: 50%;
}

.forma .forma__text p {
  padding-left: 40px;
}

.questions {
  max-width: 1300px;
  margin: auto;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f7f7;
}

.phohe {
  flex-basis: 30%;
  text-align: center;
}

.phohe .phone__title {
  margin-top: 25px;
  font-size: 18px;
  color: #4c4c4c;
  font-weight: bold;
  text-transform: uppercase;
}

.phohe .phohe__link {
  display: block;
  margin-top: 20px;
  font-family: "UbuntuLight";
  font-size: 19px;
  color: #1abc9c;
  text-decoration: none;
}

.open {
  flex-basis: 30%;
  text-align: center;
  border-left: 1px solid #818181;
  border-right: 1px solid #818181;
}

.open .open__title {
  margin-top: 25px;
  font-size: 18px;
  color: #4c4c4c;
  font-weight: bold;
  text-transform: uppercase;
}

.open .open__text {
  margin-top: 20px;
  font-family: "UbuntuLight";
  font-size: 18px;
  color: #4c4c4c;
}

.message {
  flex-basis: 30%;
  text-align: center;
}

.message .message__title {
  margin-top: 25px;
  font-size: 18px;
  color: #4c4c4c;
  font-weight: bold;
  text-transform: uppercase;
}

.message .message__link {
  display: block;
  margin-top: 20px;
  font-family: "UbuntuLight";
  font-size: 19px;
  color: #1abc9c;
  text-decoration: none;
}

.sidebarBottom {
  width: 100%;
  padding: 40px 0 60px 0;
  background-color: #1abc9c;
}

.services {
  width: 96%;
  max-width: 1100px;
  margin: auto;
}

.services .services__title {
  font-family: "UbuntuLight";
  font-size: 46px;
  color: #fff;
}

.services .services__title .services__title_bold {
  font-weight: bold;
}

.services .services__text {
  font-family: "UbuntuLight";
  font-size: 16px;
  color: #fff;
}
