
@media screen and (min-device-width: 768px) {
    .headerText {
        width: 90%;
        margin-bottom: 30px;
    }
    .block {
        flex-direction: row-reverse;
    }
    .infa {
        width: 49%;
        margin-left: -11px;
    }

    .time {
        margin-left: 150px;
    }
    .infaHeader {
        width: 600px;
        margin-left: 20px;
    }


    .spicer {
        width: 49%;

    }

    .place {
        width: 45%;
    }

    .whyPeople {
        width: 70%;
    }

    .technol {
        width: 80%;
    }
    main p {
        width: 80%;
    }

    .bookingYes {
        width: 500px;
    }
    .blockGalery {
        background: url("../img/fon2.png");
        width: 98%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .blockText {
        background: url("../img/fon1.png");
        width: 98%;
        margin: 0 auto;
    }
}