@font-face {
    font-family: 'OpenSans-Bold'; 
    src: url(../fonts/OpenSans-Bold.ttf); 
    src: url(../fonts/OpenSans-Bold.woff); 
    src: url(../fonts/OpenSans-Bold.woff2); 
   }

   @font-face {
    font-family: 'OpenSans-Regular'; 
    src: url(../fonts/OpenSans-Regular.ttf); 
    src: url(../fonts/OpenSans-Regular.woff); 
    src: url(../fonts/OpenSans-Regular.woff2); 
   }