* {
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) {
  header {
    background-image: url(../img/bg1.png);
    background-size: 100%;
    .logo {
      padding-top: 30px;
      svg {
        display: block;
        width: 40%;
        margin: auto;
      }
    }
    h1 {
      font-family: "OpenSans-Bold";
      font-size: 28px;
      color: #fff;
      margin-top: 130px;
      margin-left: 6%;
      span {
        display: block;
        width: 70%;
        margin-top: 25px;
        margin-left: 14%;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      padding-bottom: 85px;
      .download {
        width: 280px;
        margin: 50px auto 0;
        background-color: #5e42b0;
        border-radius: 20px;
        .download-inscription {
          margin: auto;
          width: 115px;
          svg {
            width: 25px;
            float: left;
            margin: auto;
            display: block;
            text-align: center;
            padding: 5px;
          }
          a {
            display: block;
            padding-top: 6px;
            padding-bottom: 5px;
            line-height: 13px;
            font-family: "OpenSans-Regular";
            font-size: 8px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            span {
              font-family: "OpenSans-Bold";
            }
          }
        }
      }

      .getIt {
        width: 280px;
        margin: 15px auto 0;
        background-color: #5e42b0;
        border-radius: 20px;
        .getIt-inscription {
          margin: auto;
          width: 115px;
          svg {
            width: 25px;
            float: left;
            margin: auto;
            display: block;
            text-align: center;
            padding: 5px;
          }
          a {
            display: block;
            width: 100px;
            padding-top: 3px;
            padding-bottom: 5px;
            line-height: 13px;
            font-family: OpenSans-Regular;
            font-size: 8px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            span {
              font-family: "OpenSans-Bold";
            }
          }
        }
      }
    }
  }

  main {
    max-width: 1570px;
    margin: auto;
    .h2big {
      margin-left: 6%;
      padding-top: 30px;
      font-family: "OpenSans-Bold";
      font-size: 50px;
      color: #e7e7e7;
    }
    .containerQualities {
      overflow: hidden;
      display: flex;
      flex-direction: column;

      picture {
        text-align: center;
        z-index: 9;
      }
      .qualities {
        display: flex;
        flex-direction: column;
        .textBlock {
          margin-top: -60px;
          background-color: #fafafa;

          .h2 {
            display: none;
            font-family: "OpenSans-Bold";
            font-size: 80px;
            color: #e7e7e7;
            margin-top: 80px;
            margin-left: 6%;
          }

          h3 {
            margin-top: 85px;
            font-family: "OpenSans-Bold";
            font-size: 23px;
            color: #c1c1c1;
          }
          span {
            display: block;
            width: 17px;
            float: left;
            margin-top: 2px;
            margin-right: 10px;
            margin-left: 6%;
            font-family: "OpenSans-Bold";
            font-size: 14px;
            color: #000;
            border-bottom: 5px solid #5e42b0;
          }

          p {
            margin-top: 30px;
            margin-bottom: 50px;
            margin-left: 6%;
            margin-right: 6%;
            font-family: "OpenSans-Regular";
            font-size: 15px;
            font-weight: bold;
            color: #000;
          }
        }

        .gray {
          background-color: #f5f4f9;
          margin: 0;

          h3 {
            margin-top: 60px;
          }
        }

        .purple {
          background-color: #5e42b0;
          margin: 0;
          h3 {
            margin-top: 60px;
          }
          span {
            border-bottom-color: #fff;
          }

          p {
            color: #fff;
          }
        }

        .players {
          margin-top: -30px;
        }

        .purpleBlack {
          background-color: #090c35;
          margin: 0;
          h3 {
            margin-top: 60px;
          }
          span {
            border-bottom-color: #fff;
            color: #5e42b0;
          }

          p {
            color: #fff;
          }
        }
      }
    }

    .information {
      .image {
        position: relative;
        picture {
          img {
            width: 100%;
          }
        }
        .namber {
          padding: 25px;
          background-color: #5e42b0;
          position: absolute;
          bottom: -10px;
          left: 26px;
          span {
            font-family: "OpenSans-Bold";
            font-size: 14px;
            color: #fff;
            border-bottom: 5px solid #8f7bc8;
          }
        }
      }
      .text {
        h2 {
          margin-top: 35px;
          margin-left: 6%;
          font-family: "OpenSans-Bold";
          font-size: 28px;
          color: #e7e7e7;
          text-transform: uppercase;
        }

        p {
          margin-top: 30px;
          margin-bottom: 80px;
          margin-left: 6%;
          margin-right: 8%;
          font-family: "OpenSans-Regular";
          font-size: 16px;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }

  footer {
    background-image: url(../img/bg2.png);
    background-size: 100% 100%;

    .surface-logo {
      padding-top: 100px;
      svg {
        width: 15%;
        display: block;
        margin: auto;
        padding: 10px;
        background: linear-gradient(to top, #7756d7, #50379b);
        border-radius: 15px;
      }
    }

    .logoText {
      text-align: center;
      .downloadText {
        margin-top: 60px;
        font-family: "OpenSans-Bold";
        font-size: 32px;
        color: #fff;
        text-transform: uppercase;
      }

      .more {
        margin-top: 12px;
        font-family: "OpenSans-Regular";
        font-size: 14px;
        color: #9b8ec1;
        text-transform: uppercase;
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      .download {
        width: 280px;
        margin: 50px auto 0;
        background-color: #5e42b0;
        border-radius: 20px;
        .download-inscription {
          margin: auto;
          width: 115px;
          svg {
            width: 25px;
            float: left;
            margin: auto;
            display: block;
            text-align: center;
            padding: 5px;
          }
          a {
            display: block;
            padding-top: 6px;
            padding-bottom: 5px;
            line-height: 13px;
            font-family: "OpenSans-Regular";
            font-size: 8px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            span {
              font-family: "OpenSans-Bold";
            }
          }
        }
      }

      .getIt {
        width: 280px;
        margin: 15px auto 0;
        background-color: #5e42b0;
        border-radius: 20px;
        .getIt-inscription {
          margin: auto;
          width: 115px;
          svg {
            width: 25px;
            float: left;
            margin: auto;
            display: block;
            text-align: center;
            padding: 5px;
          }
          a {
            display: block;
            width: 100px;
            padding-top: 3px;
            padding-bottom: 5px;
            line-height: 13px;
            font-family: OpenSans-Regular;
            font-size: 8px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            span {
              font-family: "OpenSans-Bold";
            }
          }
        }
      }
    }
    .logo {
      margin-top: 90px;
      padding-bottom: 10px;
      svg {
        display: block;
        width: 40%;
        margin: auto;
      }
    }
  }
}
