@media (min-width: 641px) {
  header {
    background-image: url(../img/bg1_768.png);

    .logo {
      svg {
        width: 215px;
      }
    }

    .logoText {
      width: 550px;
      margin: auto;

      h1 {
        margin-top: 157px;
        font-size: 50px;
      }
    }
    .buttons {
      flex-direction: row;
      justify-content: center;
      padding-bottom: 90px;

      .download {
        width: 310px;
        margin-top: 310px;
        margin-right: 1%;
        border-radius: 40px;
        .download-inscription {
          width: 210px;

          a {
            font-size: 14px;
            line-height: 17px;
            padding-top: 19px;
            padding-bottom: 5px;
          }

          svg {
            width: 40px;
            padding: 15px;
          }
        }
      }
      .getIt {
        width: 310px;
        margin-top: 310px;
        margin-left: 1%;
        border-radius: 40px;
        .getIt-inscription {
          width: 210px;
          a {
            width: 172px;
            font-size: 14px;
            line-height: 17px;
            padding-top: 19px;
            padding-bottom: 5px;
          }

          svg {
            width: 40px;
            padding: 15px;
          }
        }
      }
    }
  }

  main {
    .h2big {
      display: none;
    }
    .containerQualities {
      flex-direction: row;

      picture {
        position: absolute;
        margin-top: 100px;
        margin-left: -23%;
      }

      .qualities {
        width: 100%;
        .textBlock {
          margin-top: 0;
          padding-left: 40%;

          h3 {
            margin-top: 45px;
            font-size: 32px;
          }

          span {
            margin-top: 8px;
          }

          p {
            margin: 30px 6% 40px;
            font-size: 16px;
          }
          .h2 {
            display: block;
          }
        }
      }
    }
    .reverse {
      flex-direction: row-reverse;

      picture {
        margin-right: -12%;
    margin-left: 0;
    
      }
      .qualities {
        .textBlock {
          margin: 0;
          padding: 0;
          margin-right: -240px;

          p {
            margin: 30px 50% 75px 6%;
          }
        }
      }
    }

    .information {
        .namber {
          padding: 40px;
          font-size: 24px;
          
        }
      
      .text {
        h2 {
          margin-top: 60px;
          font-size: 80px;
        }
        br {
          display: none;
        }
      }
    }
  }

  footer {
    .logo {
      svg {
        width: 215px;
      }
    }
    .logoText {
      .downloadText {
        font-size: 70px;
      }
      .more {
        font-size: 32px;
      }
    }
    .buttons {
      flex-direction: row;
      justify-content: center;
      padding-bottom: 90px;

      .download {
        width: 310px;
        margin-top: 310px;
        margin-right: 1%;
        border-radius: 40px;
        .download-inscription {
          width: 210px;

          a {
            font-size: 14px;
            line-height: 17px;
            padding-top: 19px;
            padding-bottom: 5px;
          }

          svg {
            width: 40px;
            padding: 15px;
          }
        }
      }
      .getIt {
        width: 310px;
        margin-top: 310px;
        margin-left: 1%;
        border-radius: 40px;
        .getIt-inscription {
          width: 210px;

          a {
            width: 172px;
            font-size: 14px;
            line-height: 17px;
            padding-top: 19px;
            padding-bottom: 5px;
          }

          svg {
            width: 40px;
            padding: 15px;
          }
        }
      }
    }
  }
}
