header {
  width: 100%;
  height: 120px;
  background-color: red;

  .logo {
    width: 10%;
    margin-top: 8px;
    margin-left: 3%;
  }
  ul {
    float: right;
    width: 80%;
    margin-top: 40px;
  }
  li {
    float: left;
    list-style: none;
    margin-left: 2%;
    margin-right: 2%;
    a {
      text-decoration: none;
      padding: 10px;
      background-color: #000;
      text-transform: uppercase;
      font-size: 24px;
      color: #fff;
    }
  }
}
